@page "/"

<PageTitle>SVG</PageTitle>

<h3>Výukový Grafický Editor</h3>

<div>
    <button @onclick="()=>Pridat(TypObrazce.Kruh)">🟠 Přidat kruh</button>
    <button @onclick="() => Pridat(TypObrazce.Obdelnik)">🟦 Přidat obdélník</button>
    <span style="margin: 0 10px;"> | </span>
    <button @onclick="PosunoutVse">➡️ Pounout vše</button>
    <button @onclick="SmazatVybrany" disabled="@(!JeNecoVybrane)" style="color: darkred;">🗑️ Smazat vybraný</button>
    <button @onclick="SmazatPosledni" style="color: red;">❌ Smazat poslední</button>
</div>

<svg style="border: 1px solid #cccccc; margin: 15px 0" height="300" width="500" xmlns="http://www.w3.org/2000/svg">
    @foreach (var obrazec in obrazceSeznam)
    {
        <g @onclick="()=>Vybrat(obrazec)">
            @((MarkupString)obrazec.Vykresli())
        </g>
    }

</svg>

@code {
    private List<Obrazec> obrazceSeznam = new();

    private bool JeNecoVybrane => obrazceSeznam.Any(o => o.Vybrany);

    private void Pridat(TypObrazce typ)
    {
        Obrazec novyObrazec = typ switch
        {
            TypObrazce.Kruh => new Kruh { Polomer = Random.Shared.Next(10,30), Barva = "blue" },
            TypObrazce.Obdelnik => new Obdelnik { Sirka = Random.Shared.Next(20, 60), Vyska = Random.Shared.Next(20, 50), Barva = "green" },
            _ => throw new ArgumentException("Neznámý typ obrazce")
        };
        novyObrazec.X = Random.Shared.Next(10, 450);
        novyObrazec.Y = Random.Shared.Next(10, 270);
        obrazceSeznam.Add(novyObrazec);
    }

    private void SmazatPosledni()
    {
        if (obrazceSeznam.Count > 0)
        {
            obrazceSeznam.RemoveAt(obrazceSeznam.Count - 1);
        }
    }

    private void PosunoutVse()
    {
        foreach (var obraz in obrazceSeznam)
        {
            obraz.Posun(10, 2);
        }
    }

    private void Vybrat(Obrazec obrazec)
    {
        //obrazec.Vybrany = !obrazec.Vybrany;
        foreach (var obraz in obrazceSeznam)
        {
            obraz.Vybrany = false;
        }
        obrazec.Vybrany = true;
    }

    private void SmazatVybrany()
    {
        var vybranyObrazec = obrazceSeznam.FirstOrDefault(o => o.Vybrany);
        if (vybranyObrazec != null)
        {
            obrazceSeznam.Remove(vybranyObrazec);
        }
    }
}
